- unless flash[:notice].blank?
  .alert.alert-success
    %a.close{"data-dismiss" => "alert"} ×
    %strong= "Success! #{flash[:notice]}"

%h3 Feed URLS
- unless @feeds.blank?
  %table.table.table-striped
    %thead
      %tr
        %th Title
        %th Feed URL
        %th Actions
    %tbody
      - @feeds.each do |feed|
        %tr
          %td= feed.title
          %td= feed.feed_url
          %td
            - feed_obj = feed_by_url(feed.feed_url)
            = link_to 'Edit', edit_feed_path(feed_obj)
            = link_to 'Delete', feed_path(feed_obj), :method => :delete
- else
  %br
  .alert.alert-info
    %strong No Feed URLS added.
%p
  %a{href: "#{new_feed_path}"}
    %button.btn.btn-large.btn-warning.add_feed_url Add Feed URL